node_modules
dist
build
.next
coverage
*.tsbuildinfo
.DS_Store
Thumbs.db
.env
.env.local
.env.*.local
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.log
.turbo
.changeset/*.md
!.changeset/README.md
